## 1. Pandas

### 1.1 Introduction to Pandas

Pandas is a library that unifies the most common workflows that data analysts and data scientists previously relied on many different libraries for. Pandas has quickly became an important tool in a data professional's toolbelt and is the most popular library for working with tabular data in Python. Tabular data is any data that can be represented as rows and columns. The CSV files we've worked with in previous missions are all examples of tabular data.

To represent tabular data, pandas uses a custom data structure called a <span style="background-color: #F9EBEA; color:##C0392B">dataframe</span>. A dataframe is a highly efficient, <span style="background-color: #F9EBEA; color:##C0392B">2-dimensional data structure</span> that provides a suite of methods and attributes to quickly explore, analyze, and visualize data. The dataframe is similar to the NumPy 2D array but adds support for many features that help you work with tabular data.

One of the biggest advantages that pandas has over NumPy is the **ability to store mixed data types** in rows and columns. Many tabular datasets contain a range of data types and pandas dataframes handle mixed data types effortlessly while NumPy doesn't. Pandas dataframes **can also handle missing values gracefully** using a custom object, <span style="background-color: #F9EBEA; color:##C0392B">NaN</span>, to represent those values. A common complaint with NumPy is its lack of an object to represent missing values and people end up having to find and replace these values manually. In addition, pandas dataframes contain axis labels for both rows and columns and enable you to refer to elements in the dataframe more intuitively. Since many tabular datasets contain column titles, this means that dataframes preserve the metadata from the file around the data.

### 1.2 Introduction to the data

In this topic, you'll learn the basics of pandas while exploring a dataset from the [United States Department of Agriculture (USDA)](http://www.ars.usda.gov/Services/docs.htm?docid=8964). This dataset contains nutritional information on the most common foods Americans consume. Each column in the dataset shows a different attribute of the foods and each row describes a different food item.

Here are some of the columns in the dataset:

- <span style="background-color: #F9EBEA; color:##C0392B">NBD_No</span> - unique id of the food.
- <span style="background-color: #F9EBEA; color:##C0392B">Shrt_Desc</span> - name of the food.
- <span style="background-color: #F9EBEA; color:##C0392B">Water_(g)</span> - water content in grams.
- <span style="background-color: #F9EBEA; color:##C0392B">Energ_Kcal</span> - energy measured in kilo-calories.
- <span style="background-color: #F9EBEA; color:##C0392B">Protein_(g)</span> - protein measured in grams.
- <span style="background-color: #F9EBEA; color:##C0392B">Cholestrl_(mg)</span> - cholesterol in milligrams.

Here's a preview of the first few rows and columns in the dataset:

<img width="1000" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0dlZBSV9ORHpCMXc">

### 1.3 Read a CSV file

To use the Pandas library, we need to import it into the environment using the <span style="background-color: #F9EBEA; color:##C0392B">import</span> keyword:

>```python
import pandas
```

We can then refer to the module using <span style="background-color: #F9EBEA; color:##C0392B">pandas</span> and use dot notation to call its methods. To read a CSV file into a dataframe, we use the [pandas.read_csv()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) function and pass in the file name as a string:

>```python
import pandas as pd
food_info = pd.read_csv("food_info.csv")
```

### 1.4 Exploring the dataframe

Now that we've read the dataset into a dataframe, we can start using the dataframe methods to explore the data. To select the first 5 rows of a dataframe, use the dataframe method [head()](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.head.html). When you call the <span style="background-color: #F9EBEA; color:##C0392B">head()</span> method, pandas will return a new dataframe containing just the first 5 rows:


>```python
first_rows = food_info.head()
```

If you peek at the [documentation](http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.head.html), you'll notice that you can pass in an integer (<span style="background-color: #F9EBEA; color:##C0392B">n</span>) into the <span style="background-color: #F9EBEA; color:##C0392B">head()</span> method to display the first <span style="background-color: #F9EBEA; color:##C0392B">n</span> rows instead of the first 5:

>```python
print(food_info.head(3))
```

Because this dataframe contains many columns and rows, pandas uses ellipsis (<span style="background-color: #F9EBEA; color:##C0392B">...</span>) to hide the columns and rows in the middle. Only the first few and the last few columns and rows are displayed to conserve space.

To access the full list of column names, use the <span style="background-color: #F9EBEA; color:##C0392B">columns</span> attribute:

>```python
column_names = food_info.columns
```

Lastly, you can use the <span style="background-color: #F9EBEA; color:##C0392B">shape</span> attribute to understand the dimensions of the dataframe. The <span style="background-color: #F9EBEA; color:##C0392B">shape</span> attribute returns a tuple of integers representing the number of rows followed by the number of columns:

>```python
# Returns the tuple (8618,36) and assigns to `dimensions`.
dimensions = food_info.shape
# The number of rows, 8618.
num_rows = dimensions[0]
# The number of columns, 36.
num_cols = dimensions[1]
```

### 1.5 Indexing

When you read in a file into a dataframe, pandas uses the values in the first row (also known as the header) for the column labels and the row number for the row labels. Collectively, the labels are referred to as the **index**. dataframes contain both a row index and a column index. Here's a diagram that displays some of the column and row labels for <span style="background-color: #F9EBEA; color:##C0392B">food_info</span>:

<img width="500" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0SlNxZXdmM3dzUUU">

The labels allow us to refer to values in the dataframe, which we'll learn more about in the rest of this notebook.

### 1.6 Series

The **Series** object is a core data structure that pandas uses to represent rows and columns. A Series is a labelled collection of values similar to the NumPy vector. The main advantage of Series objects is the **ability to utilize non-integer labels**. NumPy arrays can only utilize integer labels for indexing.

Pandas utilizes this feature to provide more context when returning a row or a column from a dataframe. For example, when you select a row from a dataframe, instead of just returning the values in that row as a list, pandas returns a Series object that contains the column labels as well as the corresponding values:

<img width="500" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0aUZ5c0FrQ0VNWFU">

The Series object representing the first row looks like:

<img width="300" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0Slg5TDdXNUt6V2M">

### 1.7 Selecting a row

While we use bracket notation to access elements in a NumPy array or a standard list, we need to use the pandas method [loc[]](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label) to select rows in a dataframe. The <span style="background-color: #F9EBEA; color:##C0392B">loc[]</span> method allows you to select rows by row labels. Recall that when you read a file into a dataframe, pandas uses the row number (or position) as each row's label. Pandas uses zero-indexing, so the first row is at index 0, the second row at index 1, and so on.

If you're interested in accessing a single row, pass in the row label to the <span style="background-color: #F9EBEA; color:##C0392B">loc[]</span> method. Python will return an error if you don't pass in a valid row label:

>```python
# Series object representing the row at index 0.
food_info.loc[0]
# Series object representing the seventh row.
food_info.loc[6]
# Will throw an error: "KeyError: 'the label [8620] is not in the [index]'"
food_info.loc[8620]
```

When accessing an individual row, pandas returns a Series object containing the column names and that row's value for each column.

### 1.8 Data types

When you displayed individual rows, represented as Series objects, you may have noticed the text <span style="background-color: #F9EBEA; color:##C0392B">"dtype: object"</span> after the last value. <span style="background-color: #F9EBEA; color:##C0392B">"dtype: object"</span> refers to the data type, or **dtype**, of that Series. The object dtype is equivalent to the string type in Python. Pandas borrows from the NumPy type system and contains the following dtypes:

- <span style="background-color: #F9EBEA; color:##C0392B">"object"</span> - for representing string values.
- <span style="background-color: #F9EBEA; color:##C0392B">"int"</span> - for representing integer values.
- <span style="background-color: #F9EBEA; color:##C0392B">"float"</span> - for representing float values.
- <span style="background-color: #F9EBEA; color:##C0392B">"datatime"</span> - for representing time values.
- <span style="background-color: #F9EBEA; color:##C0392B">"bool"</span> - for representing Boolean values.

When reading a file into a dataframe, pandas analyzes the values and infers each column's types. To access the types - for each column, use the <span style="background-color: #F9EBEA; color:##C0392B">DataFrame.dtypes</span> attribute to return a Series containing each column name and its corresponding type. Read more about data types on the [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/basics.html#dtypes).

>```python
print(food_info.dtypes)
```

### 1.9 Selecting Multiple Rows

If you're interested in accessing multiple rows of the dataframe, you can pass in either a slice of row labels or a list of row labels and pandas will return a dataframe. Note that unlike slicing lists in Python, a slice of a dataframe using <span style="background-color: #F9EBEA; color:##C0392B">.loc[]</span> will include both the start and the end row:

>```python
# DataFrame containing the rows at index 3, 4, 5, and 6 returned.
food_info.loc[3:6]
# DataFrame containing the rows at index 2, 5, and 10 returned. Either of the following work.
# Method 1
two_five_ten = [2,5,10] 
food_info.loc[two_five_ten]
# Method 2
food_info.loc[[2,5,10]]
```

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**:

1. Select the last 5 rows of <span style="background-color: #F9EBEA; color:##C0392B">food_info</span> and assign to the variable <span style="background-color: #F9EBEA; color:##C0392B">last_rows</span>. #tips: use <span style="background-color: #F9EBEA; color:##C0392B">.loc[]</span> method.

In [3]:
import pandas as pd
food_info = pd.read_csv("food_info.csv")
dimensions = food_info.shape
last_rows = food_info.loc[dimensions[0]-5:dimensions[0]]
print(last_rows)

      NDB_No                   Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
8613   83110             MACKEREL SALTED      43.00         305        18.50
8614   90240  SCALLOP (BAY&SEA) CKD STMD      70.25         111        20.54
8615   90480                  SYRUP CANE      26.00         269         0.00
8616   90560                   SNAIL RAW      79.20          90        16.10
8617   93600            TURTLE GREEN RAW      78.50          89        19.80

      Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
8613          25.10    13.40            0.00           0.0            0.0
8614           0.84     2.97            5.41           0.0            0.0
8615           0.00     0.86           73.14           0.0           73.2
8616           1.40     1.30            2.00           0.0            0.0
8617           0.50     1.20            0.00           0.0            0.0

           ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
8613       ...           157.0       47.0        2.38       25.2    1006.0
8614       ...             5.0        2.0        0.00        0.0       2.0
8615       ...             0.0        0.0        0.00        0.0       0.0
8616       ...           100.0       30.0        5.00        0.0       0.0
8617       ...           100.0       30.0        0.50        0.0       0.0

      Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
8613          7.8       7.148        8.320        6.210            95.0
8614          0.0       0.218        0.082        0.222            41.0
8615          0.0       0.000        0.000        0.000             0.0
8616          0.1       0.361        0.259        0.252            50.0
8617          0.1       0.127        0.088        0.170            50.0

[5 rows x 36 columns]

### 1.10 Selecting Individual Columns

When accessing a column in a dataframe, pandas returns a Series object containing the row label and each row's value for that column. To access a single column, use bracket notation and pass in the column name as a string:

>```python
# Series object representing the "NDB_No" column.
ndb_col = food_info["NDB_No"]
# You can instead access a column by passing in a string variable.
col_name = "NDB_No"
ndb_col = food_info[col_name]
```

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**:

1. Assign the <span style="background-color: #F9EBEA; color:##C0392B">"FA\_Sat\_(g)"</span> column to the variable <span style="background-color: #F9EBEA; color:##C0392B">saturated_fat</span>.
2. Assign the <span style="background-color: #F9EBEA; color:##C0392B">"Cholestrl\_(mg)"</span> column to the variable <span style="background-color: #F9EBEA; color:##C0392B">cholesterol</span>.

In [4]:
saturated_fat = food_info["FA_Sat_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]

### 1.11 Selecting Multiple Columns By Name

To select multiple columns, pass in a list of strings representing the column names and pandas will return a dataframe containing only the values in those columns. The following code returns a dataframe containing the <span style="background-color: #F9EBEA; color:##C0392B">"Zinc_(mg)"</span> and <span style="background-color: #F9EBEA; color:##C0392B">"Copper_(mg)"</span> columns, in that order:

>```python
columns = ["Zinc_(mg)", "Copper_(mg)"]
zinc_copper = food_info[columns]
# Skipping the assignment.
zinc_copper = food_info[["Zinc_(mg)", "Copper_(mg)"]]
```

When selecting multiple columns, the order of the columns in the returned dataframe matches the order of the column names in the list of strings that you passed in. This allows you to easily explore specific columns that may not be positioned next to each other in the dataframe.


<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: select and display only the columns that use grams for measurement (that end with <span style="background-color: #F9EBEA; color:##C0392B">"(g)"</span>). To accomplish this:

1. Use the <span style="background-color: #F9EBEA; color:##C0392B">columns</span> attribute to return the column names in <span style="background-color: #F9EBEA; color:##C0392B">food_info</span> and convert to a list by calling the method <span style="background-color: #F9EBEA; color:##C0392B">tolist()</span>.
2. Create a *new list*, <span style="background-color: #F9EBEA; color:##C0392B">gram_columns</span>, containing only the column names that end in <span style="background-color: #F9EBEA; color:##C0392B">"(g)"</span>. The string method <span style="background-color: #F9EBEA; color:##C0392B">endswith()</span> returns <span style="background-color: #F9EBEA; color:##C0392B">True</span> if the string object calling the method ends with the string passed into the parentheses.
3. Pass <span style="background-color: #F9EBEA; color:##C0392B">gram_columns</span> into bracket notation to select just those columns and assign the resulting dataframe to <span style="background-color: #F9EBEA; color:##C0392B">gram_df</span>
4. Then use the dataframe method <span style="background-color: #F9EBEA; color:##C0392B">head()</span> to display the first 3 rows of <span style="background-color: #F9EBEA; color:##C0392B">gram_df</span>

In [13]:
food_info.columns.tolist()
gram_columns = []
for i in food_info.columns.tolist():
    if i.endswith("(g)"):
        gram_columns.append(i)
gram_df = food_info[gram_columns]
gram_df.head(3)

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

## 2. Data manipulation with Pandas

### 2.1 Overview

In the previous sections, we learned how to explore a pandas <span style="background-color: #F9EBEA; color:##C0392B">DataFrame</span>. In this mission, we'll explore how to manipulate a DataFrame and make transformations to it. We'll continue to work with the same data set from the USDA on nutritional information. We'll build a basic nutritional index for people who want to eat high-protein, low-fat foods. The <span style="background-color: #F9EBEA; color:##C0392B">"Lipid\_Tot\_(g)"</span> column contains each food's total fat content, and the <span style="background-color: #F9EBEA; color:##C0392B">"Protein\_(g)"</span> (in grams) contains each food's total protein content (in grams). Let's use the following formula to score each food in our data set:

>$$ 
Score = 2 \times (Protein\_(g)) - 0.75 \times (Lipid\_Tot\_(g))
$$

While this formula is by no means scientific, it will act as a guide as we explore pandas further.

Just to remember, here's a preview of the data set:

<img width="1000" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0dlZBSV9ORHpCMXc">

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: to practice what we learned in the previous sections:

>1. Import the <span style="background-color: #F9EBEA; color:##C0392B">pandas</span>
2. Read <span style="background-color: #F9EBEA; color:##C0392B">food_info.csv</span> into a DataFrame object named <span style="background-color: #F9EBEA; color:##C0392B">food_info</span>.
3. Use the <span style="background-color: #F9EBEA; color:##C0392B">DataFrame.columns</span> attribute, followed by the <span style="background-color: #F9EBEA; color:##C0392B">Index.tolist()</span> method, to return a list containing only the column names.
4. Assign the resulting list to <span style="background-color: #F9EBEA; color:##C0392B">col_names</span>, and use the print() function to display the value.
5. Display the first three rows of <span style="background-color: #F9EBEA; color:##C0392B">food_info.csv</span>.

In [19]:
import pandas as pd
food_info = pd.read_csv("food_info.csv")
food_info.columns.tolist()
col_names = food_info.columns.tolist()
print(col_names)
print(food_info.head(3))

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']
   NDB_No                 Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
0    1001          BUTTER WITH SALT      15.87         717         0.85
1    1002  BUTTER WHIPPED WITH SALT      15.87         717         0.85
2    1003      BUTTER OIL ANHYDROUS       0.24         876         0.28

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
0          81.11     2.11            0.06           0.0           0.06
1          81.11     2.11            0.06           0.0           0.06
2          99.48     0.00            0.00           0.0           0.00

        ...        Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  \
0       ...          2499.0      684.0        2.32        1.5      60.0
1       ...          2499.0      684.0        2.32        1.5      60.0
2       ...          3069.0      840.0        2.80        1.8      73.0

   Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
0          7.0      51.368       21.021        3.043           215.0
1          7.0      50.489       23.426        3.012           219.0
2          8.6      61.924       28.732        3.694           256.0

[3 rows x 36 columns]

### 2.2 Transforming a column

We can use the arithmetic operators to transform a numerical column. The values in the <span style="background-color: #F9EBEA; color:##C0392B">"Iron\_(mg)"</span> column, for example, are currently in milligrams. We can divide each value by <span style="background-color: #F9EBEA; color:##C0392B">1000</span> to convert the values to grams. The following code will divide each value in the <span style="background-color: #F9EBEA; color:##C0392B">"Iron\_(mg)"</span> column by <span style="background-color: #F9EBEA; color:##C0392B">1000</span>, and return a new Series object with those values:

>```python
div_1000 = food_info["Iron_(mg)"] / 1000
```

pandas allows us to use any of the arithmetic operators to scale the values in a numerical column:


>```python
# Adds 100 to each value in the column and returns a Series object.
add_100 = food_info["Iron_(mg)"] + 100
# Subtracts 100 from each value in the column and returns a Series object.
sub_100 = food_info["Iron_(mg)"] - 100
# Multiplies each value in the column by 2 and returns a Series object.
mult_2 = food_info["Iron_(mg)"]*2
```

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Divide the <span style="background-color: #F9EBEA; color:##C0392B">"Sodium_(mg)"</span> column by 1000 to convert the values to grams, and assign the result to <span style="background-color: #F9EBEA; color:##C0392B">sodium_grams</span>.
2. Multiply the <span style="background-color: #F9EBEA; color:##C0392B">"Sugar\_Tot\_(g)"</span> column by 1000 to convert to milligrams, and assign the result to <span style="background-color: #F9EBEA; color:##C0392B">sugar_milligrams</span>.

In [20]:
sodium_grams = food_info["Sodium_(mg)"]/1000
sugar_miligrams = food_info["Sugar_Tot_(g)"]*1000

### 2.3 Performing math with multiple columns

In addition to transforming columns by numerical values, we can transform columns by other columns. When we use an arithmetic operator between two columns (Series objects), pandas will perform that computation in a pair-wise fashion, and return a new Series object. It applies the arithmetic operator to the first value in both columns, the second value in both columns, and so on.

In the following code, we multiply the <span style="background-color: #F9EBEA; color:##C0392B">"Water_(g)"</span> column by the <span style="background-color: #F9EBEA; color:##C0392B">"Energ_Kcal"</span> column, and assign the resulting Series to <span style="background-color: #F9EBEA; color:##C0392B">water_energy</span>:

>```python
water_energy = food_info["Water_(g)"] * food_info["Energ_Kcal"]
```

The following diagram may help you understand pair-wise computation a bit better:

<img width="500" alt="creating a repo" src="https://drive.google.com/uc?export=view&id=0BxhVm1REqwr0cWxQZkI0c2IxemM">

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Assign the number of grams of protein per gram of water (<span style="background-color: #F9EBEA; color:##C0392B">"Protein\_(g)"</span> column divided by <span style="background-color: #F9EBEA; color:##C0392B">"Water\_(g)"</span> column) to <span style="background-color: #F9EBEA; color:##C0392B">grams_of_protein_per_gram_of_water</span>.
2. Assign the total amount of calcium and iron (<span style="background-color: #F9EBEA; color:##C0392B">"Calcium\_(mg)"</span> column plus <span style="background-color: #F9EBEA; color:##C0392B">"Iron\_(mg)"</span> column) to <span style="background-color: #F9EBEA; color:##C0392B">milligrams\_of\_calcium\_and\_iron</span>.

In [21]:
grams_of_protein_per_gram_of_water = food_info["Protein_(g)"]/food_info["Water_(g)"]
miligrams_of_calcium_and_iron = food_info["Calcium_(mg)"]+food_info["Iron_(mg)"]

### 2.4 Create a nutritional index

Now that we've learned how to transform columns with a numerical value and how to combine columns, we can use the following formula to create a nutritional index:

> $$ Score=2×(Protein\_(g))−0.75×(Lipid\_Tot\_(g)) $$


<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Multiply the <span style="background-color: #F9EBEA; color:##C0392B">"Protein\_(g)" </span> column by two, and assign the resulting Series to <span style="background-color: #F9EBEA; color:##C0392B">weighted_protein</span>.
2. Multiply the <span style="background-color: #F9EBEA; color:##C0392B">"Lipid\_Tot\_(g)"</span> column by -0.75, and assign the resulting Series to <span style="background-color: #F9EBEA; color:##C0392B">weighted_fat</span>.
3. Add both Series objects together and assign the result to <span style="background-color: #F9EBEA; color:##C0392B">initial_rating</span>.

In [22]:
weighted_protein = food_info["Protein_(g)"]*2
weighted_fat = food_info["Lipid_Tot_(g)"]*(-0.75)
initial_rating = weighted_fat+weighted_protein

### 2.5 Normalize columns in a dataset

The columns in the data set use different units (kilo-calories, milligrams, etc.). As a result, the range of values varies greatly between columns. For example, the <span style="background-color: #F9EBEA; color:##C0392B">"Vit\_A\_IU"</span> column ranges from 0 to 100000, while the <span style="background-color: #F9EBEA; color:##C0392B">"Fiber\_TD\_(g)"</span> column ranges from 0 to 79. For certain calculations, columns like <span style="background-color: #F9EBEA; color:##C0392B">"Vit_A_IU"</span> can have a greater effect on the result, due to the scale of the values.

While there are many ways to normalize data, one of the simplest ways is to divide all of the values in a column by that column's maximum value. This way, all of the columns will range from 0 to 1. To calculate the maximum value of a column, we use the <span style="background-color: #F9EBEA; color:##C0392B">Series.max()</span> method. In the following code, we use the <span style="background-color: #F9EBEA; color:##C0392B">Series.max()</span> method to calculate the largest value in the <span style="background-color: #F9EBEA; color:##C0392B">"Energ_Kcal"</span> column, and assign it to <span style="background-color: #F9EBEA; color:##C0392B">max_calories</span>:

>```python
# The largest value in the "Energ_Kcal" column.
max_calories = food_info["Energ_Kcal"].max()
```

We can then use the division operator (<span style="background-color: #F9EBEA; color:##C0392B">/</span>) to divide the values in the <span style="background-color: #F9EBEA; color:##C0392B">"Energ_Kcal"</span> column by the maximum value, <span style="background-color: #F9EBEA; color:##C0392B">max_calories</span>:

>```python
# Divide the values in "Energ_Kcal" by the largest value.
normalized_calories = food_info["Energ_Kcal"] / max_calories
```

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Normalize the values in the <span style="background-color: #F9EBEA; color:##C0392B">"Protein_(g)"</span> column, and assign the result to <span style="background-color: #F9EBEA; color:##C0392B">normalized_protein</span>.
2. Normalize the values in the <span style="background-color: #F9EBEA; color:##C0392B">"Lipid\_Tot\_(g)"</span> column, and assign the result to <span style="background-color: #F9EBEA; color:##C0392B">normalized_fat</span>.

In [23]:
normalized_protein = food_info["Energ_Kcal"]/food_info["Energ_Kcal"].max()
normalized_fat = food_info["Lipid_Tot_(g)"]/food_info["Lipid_Tot_(g)"].max()

### 2.6 Creating a new column

So far, we've assigned the Series object that results from a column transform to a variable. However, we can add it to the DataFrame as a new column instead.

We add bracket notation to specify the name we want for that column, then use the assignment operator (<span style="background-color: #F9EBEA; color:##C0392B">=</span>) to specify the Series object containing the values we want to assign to that column:

>```python
iron_grams = food_info["Iron_(mg)"] / 1000  
food_info["Iron_(g)"] = iron_grams
```

The DataFrame <span style="background-color: #F9EBEA; color:##C0392B">food\_info</span> now includes the <span style="background-color: #F9EBEA; color:##C0392B">"Iron\_(g)"</span> column, which contains the values from <span style="background-color: #F9EBEA; color:##C0392B">iron\_grams</span>.


<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Assign the normalized <span style="background-color: #F9EBEA; color:##C0392B">"Protein\_(g)"</span> column to a new column named <span style="background-color: #F9EBEA; color:##C0392B">"Normalized\_Protein"</span> in <span style="background-color: #F9EBEA; color:##C0392B">food\_info</span>.
2. Assign the normalized <span style="background-color: #F9EBEA; color:##C0392B">"Lipid\_Tot\_(g)"</span> column to a new column named <span style="background-color: #F9EBEA; color:##C0392B">"Normalized\_Fat"</span> in <span style="background-color: #F9EBEA; color:##C0392B">food_info</span>.
3. Use the <span style="background-color: #F9EBEA; color:##C0392B">Normalized\_Protein</span> and <span style="background-color: #F9EBEA; color:##C0392B">Normalized\_Fat</span> columns with the formula above (section 2.4) to create the <span style="background-color: #F9EBEA; color:##C0392B">Norm\_Nutr\_Index</span> column.

In [30]:
food_info["Normalized_Protein"] = normalized_protein
food_info["Normalized_Fat"] = normalized_fat
weighted_protein = food_info["Normalized_Protein"]*2
weighted_fat = food_info["Normalized_Fat"]*(-0.75)
food_info["Norm_Nutr_Index"] = weighted_fat+weighted_protein
print(food_info)

      NDB_No                                          Shrt_Desc  Water_(g)  \
701     4589                                 FISH OIL COD LIVER       0.00
611     4002                                               LARD       0.00
703     4591                                  FISH OIL MENHADEN       0.00
702     4590                                   FISH OIL HERRING       0.00
704     4592                       FISH OIL MENHADEN FULLY HYDR       0.00
705     4593                                    FISH OIL SALMON       0.00
706     4594                                   FISH OIL SARDINE       0.00
610     4001                                    FAT BEEF TALLOW       0.00
664     4520                                  FAT MUTTON TALLOW       0.00
674     4542                                        FAT CHICKEN       0.20
691     4575                                         FAT TURKEY       0.20
692     4576                                          FAT GOOSE       0.20
8154   35057          OIL BEARDED SEAL (OOGRUK) (ALASKA NATIVE)       0.02
681     4550      SHORTENING FRYING (HVY DUTY) BF TALLOW&CTTNSD       0.00
8180   35087                  OIL WHALE BOWHEAD (ALASKA NATIVE)       0.00
663     4518  OIL CORN INDUSTRIAL & RTL ALLPURP SALAD OR COO...       0.00
787     4698                     OIL INDUSTRIAL CANOLA HI OLEIC       0.00
8122   35014                   OIL BELUGA WHALE (ALASKA NATIVE)       0.00
788     4699                    OIL INDUSTRIAL SOY LO LINOLENIC       0.00
8177   35084                         OIL WALRUS (ALASKA NATIVE)       0.00
676     4544                  SHORTENING HOUSEHOLD LARD&VEG OIL       0.00
680     4549                 SHORTENING INDUSTRIAL LARD&VEG OIL       0.00
2731   10864                        PORK BACON RENDERED FAT CKD       0.25
712     4609                            ANIMAL FAT BACON GREASE       0.00
8212   35156                   OIL SPOTTED SEAL (ALASKA NATIVE)       0.25
711     4606      MEAT DRIPPINGS (LARD BF TALLOW MUTTON TALLOW)       0.00
718     4615                      SHORTENING VEG HOUSEHOLD COMP       0.00
8431   42231                          OIL FLAXSEED COLD PRESSED       0.12
665     4528                                         OIL WALNUT       0.00
693     4581                                        OIL AVOCADO       0.00
...      ...                                                ...        ...
5814   18372                       LEAVENING AGENTS BAKING SODA       0.20
6417   19918      SWEETENER HERBAL EXTRACT PDR FROM STEVIA LEAF       0.00
4374   14434                   WATER BTLD NON-CARBONATED DASANI      99.96
4373   14433           WATER BTLD NON-CARBONATED PEPSI AQUAFINA      99.97
292     2074        SEASONING MIX DRY SAZON CORIANDER & ANNATTO       0.20
4376   14437                WATER BTLD NON-CARBONATED CALISTOGA     100.00
4377   14438           WATER BTLD NON-CARBONATED CRYSTAL GEYSER     100.00
4378   14439                     WATER BTLD NON-CARBONATED NAYA     100.00
4379   14440    WATER BTLD NON-CARBONATED DANNON FLUORIDE TO GO      99.97
4372   14432                   WATER BTLD NON-CARBONATED DANNON      99.98
4369   14429                                WATER TAP MUNICIPAL      99.90
4357   14412                                     WATER TAP WELL      99.90
4356   14411                                 WATER TAP DRINKING      99.90
4392   14537  CARBONATED BEV LOCAL OTHR THAN COLA OR PEP W/ ...      99.80
4348   14385                           WATER BTLD POLAND SPRING     100.00
4347   14384                                 WATER BTLD PERRIER      99.90
4404   14555                                 WATER BTLD GENERIC      99.98
4207   14074                 BEVERAGES ZEVIA COLA CAFFEINE FREE      98.87
4407   14559                    WATER BTLD NON-CARBONATED EVIAN      99.97
276     2047                                         SALT TABLE       0.20
4408   14599  BEVERAGES POWERADE ZERO ION4 CALORIE-FREE ASSO...      99.89
4282   14201  COFFEE BREWED FROM GROUNDS PREP W/ TAP H2O DEC...      99.30
4270   14166  CARBONATED BEV LO CAL COLA OR PEPR W/ NA SACC ...      99.80
4260   14151  CARB BEV LO CAL OTHR THN COLA OR PEPPER W/ ASP...      99.80
4252   14143  CARBONATED BEV LO CAL OTHER THAN COLA OR PEPPE...      99.80
4239   14121                           CARBONATED BEV CLUB SODA      99.90
4213   14082  BEVERAGES GEROLSTEINER BRUNNEN GMBH H2O BTLD N...      99.95
4209   14076         BEVERAGES ICELANDIC GLACIAL NAT SPRING H2O     100.00
4208   14075  BEVERAGES H2O BTLD NATURALLY SPARKLING (CARBON...      99.95
4206   14073                               BEVERAGES ZEVIA COLA      98.36

      Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
701          902         0.00         100.00     0.00            0.00
611          902         0.00         100.00     0.00            0.00
703          902         0.00         100.00     0.00            0.00
702          902         0.00         100.00     0.00            0.00
704          902         0.00         100.00     0.00            0.00
705          902         0.00         100.00     0.00            0.00
706          902         0.00         100.00     0.00            0.00
610          902         0.00         100.00     0.00            0.00
664          902         0.00         100.00     0.00            0.00
674          900         0.00          99.80     0.00            0.00
691          900         0.00          99.80     0.00            0.00
692          900         0.00          99.80     0.00            0.00
8154         899         0.56          99.60     0.00            0.00
681          900         0.00         100.00     0.00            0.00
8180         900         0.00         100.00     0.00            0.00
663          900         0.00         100.00     0.00            0.00
787          900         0.00         100.00     0.00            0.00
8122         900         0.00         100.00     0.00            0.00
788          900         0.00         100.00     0.00            0.00
8177         900         0.00         100.00     0.00            0.00
676          900         0.00         100.00     0.00            0.00
680          900         0.00         100.00     0.00            0.00
2731         898         0.07          99.50     0.16            0.00
712          897         0.00          99.50     0.50            0.00
8212         894         0.00          99.32     0.00            0.00
711          889         0.00          98.59     1.40            0.00
718          884         0.00          99.97     0.03            0.00
8431         884         0.11          99.98     0.00            0.00
665          884         0.00         100.00     0.00            0.00
693          884         0.00         100.00     0.00            0.00
...          ...          ...            ...      ...             ...
5814           0         0.00           0.00    36.90            0.00
6417           0         0.00           0.00     0.00          100.00
4374           0         0.00           0.00     0.00            0.00
4373           0         0.00           0.00     0.00            0.00
292            0         0.00           0.00    99.80            0.00
4376           0         0.00           0.00     0.10            0.00
4377           0         0.00           0.00     0.10            0.00
4378           0         0.00           0.00     0.10            0.00
4379           0         0.00           0.00     0.00            0.03
4372           0         0.00           0.00     0.00            0.00
4369           0         0.00           0.00     0.10            0.00
4357           0         0.00           0.00     0.10            0.00
4356           0         0.00           0.00     0.10            0.00
4392           0         0.00           0.00     0.10            0.10
4348           0         0.00           0.00     0.00            0.00
4347           0         0.00           0.00     0.10            0.00
4404           0         0.00           0.00     0.07            0.00
4207           0         0.00           0.00     0.01            1.13
4407           0         0.00           0.00     0.05            0.00
276            0         0.00           0.00    99.80            0.00
4408           0         0.00           0.00     0.14            0.00
4282           0         0.10           0.00     0.10            0.00
4270           0         0.00           0.00     0.10            0.10
4260           0         0.10           0.00     0.10            0.00
4252           0         0.10           0.00     0.10            0.00
4239           0         0.00           0.00     0.10            0.00
4213           0         0.00           0.00     0.05            0.00
4209           0         0.00           0.00     0.00            0.00
4208           0         0.00           0.00     0.05            0.00
4206           0         0.00           0.00     0.00            1.13

      Fiber_TD_(g)  Sugar_Tot_(g)       ...         Vit_D_mcg  Vit_D_IU  \
701            0.0            NaN       ...             250.0   10000.0
611            0.0            0.0       ...               2.5     102.0
703            0.0            NaN       ...               NaN       NaN
702            0.0            NaN       ...               NaN       NaN
704            0.0            NaN       ...               NaN       NaN
705            0.0            NaN       ...               NaN       NaN
706            0.0            NaN       ...               8.3     332.0
610            0.0            0.0       ...               0.7      28.0
664            0.0            0.0       ...               0.7      28.0
674            0.0            0.0       ...               4.8     191.0
691            0.0            0.0       ...               4.8     191.0
692            0.0            NaN       ...               NaN       NaN
8154           NaN            NaN       ...               0.7      30.0
681            0.0            NaN       ...               NaN       NaN
8180           NaN            NaN       ...               NaN       NaN
663            0.0            0.0       ...               0.0       0.0
787            0.0            0.0       ...               0.0       0.0
8122           0.0            0.0       ...               5.7     228.0
788            0.0            0.0       ...               0.0       0.0
8177           NaN            NaN       ...               NaN       NaN
676            0.0            0.0       ...               0.0       0.0
680            0.0            NaN       ...               NaN       NaN
2731           0.0            0.0       ...               NaN       NaN
712            0.0            0.0       ...               2.5     101.0
8212           0.0            0.0       ...               0.7      30.0
711            0.0            0.0       ...               2.5     100.0
718            0.0            0.0       ...               0.0       0.0
8431           0.0            0.0       ...               0.0       0.0
665            0.0            0.0       ...               0.0       0.0
693            0.0            NaN       ...               NaN       NaN
...            ...            ...       ...               ...       ...
5814           0.0            0.0       ...               0.0       0.0
6417           0.0            0.0       ...               0.0       0.0
4374           NaN            NaN       ...               NaN       NaN
4373           NaN            NaN       ...               NaN       NaN
292            0.0            0.0       ...               NaN       NaN
4376           NaN            NaN       ...               NaN       NaN
4377           NaN            NaN       ...               NaN       NaN
4378           NaN            NaN       ...               NaN       NaN
4379           NaN            NaN       ...               NaN       NaN
4372           NaN            NaN       ...               NaN       NaN
4369           0.0            0.0       ...               0.0       0.0
4357           0.0            NaN       ...               NaN       NaN
4356           0.0            0.0       ...               0.0       0.0
4392           0.0            NaN       ...               NaN       NaN
4348           0.0            NaN       ...               NaN       NaN
4347           0.0            NaN       ...               NaN       NaN
4404           0.0            0.0       ...               0.0       0.0
4207           0.0            0.0       ...               0.0       0.0
4407           NaN            NaN       ...               NaN       NaN
276            0.0            0.0       ...               0.0       0.0
4408           0.0            0.0       ...               0.0       0.0
4282           0.0            0.0       ...               0.0       0.0
4270           0.0            0.0       ...               NaN       NaN
4260           0.0            0.0       ...               0.0       0.0
4252           0.0            0.0       ...               0.0       0.0
4239           0.0            0.0       ...               0.0       0.0
4213           0.0            0.0       ...               0.0       0.0
4209           0.0            0.0       ...               0.0       0.0
4208           0.0            0.0       ...               0.0       0.0
4206           0.0            0.0       ...               0.0       0.0

      Vit_K_(mcg)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  \
701           NaN      22.608       46.711       22.541           570.0
611           0.0      39.200       45.100       11.200            95.0
703           NaN      30.427       26.694       34.197           521.0
702           NaN      21.290       56.564       15.604           766.0
704           NaN      95.600        0.000        0.000           500.0
705           NaN      19.872       29.037       40.324           485.0
706           NaN      29.892       33.841       31.867           710.0
610           0.0      49.800       41.800        4.000           109.0
664           0.0      47.300       40.600        7.800           102.0
674           0.0      29.800       44.700       20.900            85.0
691           0.0      29.400       42.900       23.100           102.0
692           NaN      27.700       56.700       11.000           100.0
8154          0.0      10.926       47.080       33.001            52.0
681           NaN      44.900       38.500        8.800           100.0
8180          NaN         NaN          NaN          NaN             NaN
663           1.9      12.948       27.576       54.677             0.0
787          71.3       6.787       72.734       15.785             0.0
8122          0.0      14.490       54.190       10.800             NaN
788         183.9      15.084       21.438       58.932             0.0
8177          NaN         NaN          NaN          NaN           120.0
676          21.5      40.300       44.400       10.900            56.0
680           NaN      35.700       40.700       19.200            56.0
2731          0.0      31.991       41.435       10.535            97.0
712           0.0      39.004       44.874       11.144            95.0
8212          0.0      14.740       54.520       18.060             NaN
711           0.0      44.790       41.770        7.560           101.0
718          53.2      24.980       41.186       28.097             0.0
8431          9.3       8.976       18.438       67.849             0.0
665          15.0       9.100       22.800       63.300             0.0
693           NaN      11.560       70.554       13.486             NaN
...           ...         ...          ...          ...             ...
5814          0.0       0.000        0.000        0.000             0.0
6417          0.0       0.000        0.000        0.000             0.0
4374          NaN         NaN          NaN          NaN             NaN
4373          NaN         NaN          NaN          NaN             NaN
292           NaN       0.000          NaN          NaN             0.0
4376          NaN         NaN          NaN          NaN             NaN
4377          NaN         NaN          NaN          NaN             NaN
4378          NaN         NaN          NaN          NaN             NaN
4379          NaN         NaN          NaN          NaN             NaN
4372          NaN         NaN          NaN          NaN             NaN
4369          0.0       0.000        0.000        0.000             0.0
4357          NaN         NaN          NaN          NaN             NaN
4356          0.0       0.000        0.000        0.000             0.0
4392          NaN       0.000        0.000        0.000             0.0
4348          NaN       0.000        0.000        0.000             0.0
4347          NaN       0.000        0.000        0.000             0.0
4404          0.0       0.000        0.000        0.000             0.0
4207          0.0       0.000        0.000        0.000             0.0
4407          NaN         NaN          NaN          NaN             NaN
276           0.0       0.000        0.000        0.000             0.0
4408          0.2       0.000        0.000        0.000             0.0
4282          0.1       0.002        0.000        0.002             0.0
4270          0.0       0.000        0.000        0.000             0.0
4260          0.0       0.000        0.000        0.000             0.0
4252          0.0       0.000        0.000        0.000             0.0
4239          0.0       0.000        0.000        0.000             0.0
4213          0.0       0.000        0.000        0.000             0.0
4209          0.0       0.000        0.000        0.000             0.0
4208          0.0       0.000        0.000        0.000             0.0
4206          0.0       0.000        0.000        0.000             0.0

      Normalized_Protein  Normalized_Fat  Norm_Nutr_Index
701             1.000000          1.0000         1.250000
611             1.000000          1.0000         1.250000
703             1.000000          1.0000         1.250000
702             1.000000          1.0000         1.250000
704             1.000000          1.0000         1.250000
705             1.000000          1.0000         1.250000
706             1.000000          1.0000         1.250000
610             1.000000          1.0000         1.250000
664             1.000000          1.0000         1.250000
674             0.997783          0.9980         1.247065
691             0.997783          0.9980         1.247065
692             0.997783          0.9980         1.247065
8154            0.996674          0.9960         1.246348
681             0.997783          1.0000         1.245565
8180            0.997783          1.0000         1.245565
663             0.997783          1.0000         1.245565
787             0.997783          1.0000         1.245565
8122            0.997783          1.0000         1.245565
788             0.997783          1.0000         1.245565
8177            0.997783          1.0000         1.245565
676             0.997783          1.0000         1.245565
680             0.997783          1.0000         1.245565
2731            0.995565          0.9950         1.244881
712             0.994457          0.9950         1.242664
8212            0.991131          0.9932         1.237362
711             0.985588          0.9859         1.231750
718             0.980044          0.9997         1.210314
8431            0.980044          0.9998         1.210239
665             0.980044          1.0000         1.210089
693             0.980044          1.0000         1.210089
...                  ...             ...              ...
5814            0.000000          0.0000         0.000000
6417            0.000000          0.0000         0.000000
4374            0.000000          0.0000         0.000000

### 2.7 Sorting a dataframe by a column

The DataFrame currently appears in numerical order according to the <span style="background-color: #F9EBEA; color:##C0392B">NDB\_No</span> column. <span style="background-color: #F9EBEA; color:##C0392B">NDB\_No</span> is a unique USDA identifier that isn't really useful for our needs. To explore which foods rank the highest in the <span style="background-color: #F9EBEA; color:##C0392B">Norm\_Nutr\_Index</span> column, we need to sort the DataFrame by that column. DataFrame objects have a <span style="background-color: #F9EBEA; color:##C0392B">sort_values()</span> method that we can use to sort the entire DataFrame.

To sort the DataFrame on the <span style="background-color: #F9EBEA; color:##C0392B">Sodium\_(mg)</span> column, pass in the column name to the <span style="background-color: #F9EBEA; color:##C0392B">DataFrame.sort_values()</span> method, and assign the resulting DataFrame to a new variable:

>```python
food_info.sort_values("Sodium_(mg)")
```

By default, pandas will sort the data by the column we specify in ascending order and return a new DataFrame, rather than modifying <span style="background-color: #F9EBEA; color:##C0392B">food_info</span> itself. To customize the method's behavior, use the parameters listed in the [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html):

>```python
# Sorts the DataFrame in-place, rather than returning a new DataFrame.
food_info.sort_values("Sodium_(mg)", inplace=True)
# Sorts by descending order, rather than ascending.
food_info.sort_values("Sodium_(mg)", inplace=True, ascending=False)
```

<br>
<div class="alert alert-info">
<b>Exercise Start.</b>
</div>

**Description**: 

>1. Sort the <span style="background-color: #F9EBEA; color:##C0392B">food_info</span> DataFrame in-place on the <span style="background-color: #F9EBEA; color:##C0392B">Norm\_Nutr\_Index</span> column in descending order.

In [34]:
food_info.sort_values("Norm_Nutr_Index", inplace = True, ascending = False)
print(food_info.head())

     NDB_No                     Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
704    4592  FISH OIL MENHADEN FULLY HYDR        0.0         902          0.0
706    4594              FISH OIL SARDINE        0.0         902          0.0
703    4591             FISH OIL MENHADEN        0.0         902          0.0
705    4593               FISH OIL SALMON        0.0         902          0.0
611    4002                          LARD        0.0         902          0.0

     Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  \
704          100.0      0.0             0.0           0.0            NaN
706          100.0      0.0             0.0           0.0            NaN
703          100.0      0.0             0.0           0.0            NaN
705          100.0      0.0             0.0           0.0            NaN
611          100.0      0.0             0.0           0.0            0.0

          ...         Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  \
704       ...               NaN       NaN          NaN      95.600
706       ...               8.3     332.0          NaN      29.892
703       ...               NaN       NaN          NaN      30.427
705       ...               NaN       NaN          NaN      19.872
611       ...               2.5     102.0          0.0      39.200

     FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)  Normalized_Protein  \
704        0.000        0.000           500.0                 1.0
706       33.841       31.867           710.0                 1.0
703       26.694       34.197           521.0                 1.0
705       29.037       40.324           485.0                 1.0
611       45.100       11.200            95.0                 1.0

     Normalized_Fat  Norm_Nutr_Index
704             1.0             1.25
706             1.0             1.25
703             1.0             1.25
705             1.0             1.25
611             1.0             1.25

[5 rows x 39 columns]